select {
    background-color: #00695c;
    color: #ffeb3b;
}

.model-form {
    /*width: 20rem;*/
    max-width: 90%;
    margin: auto;
    display: block;
}

.model-item {
    width: 20rem;
    max-width: 20%;
    margin: 1rem;
}

.model__name {
    font-size: 1.2rem;
    text-align: center;
}

.model__image {
    width: 100%;
    text-align: center;
}

.model__image img {
    height: 240px ;
    width: 240px;
}

.model__hq,
.model__nationality,
.model__yob {
    text-align: center;
}