select {
    background-color: #00695c;
    color: #ffeb3b;
}

.model-form {
    max-width: 90%;
    margin: auto;
    display: block;
}

.model-item-2 {
    width: 20rem;
    max-width: 20%;
    margin: 1rem;
    background-color: #ffeb3b;
}

.model__name {
    font-size: 1.2rem;
    text-align: center;
}

.model__image {
    width: 100%;
    text-align: center;
}

.model__image img {
    height: 240px ;
    width: 240px;
}

.model__detail__image {
    text-align: center;
}

.model__detail__image img {
    height: 100% ;
    width: 100%;
}

.model__hq,
.model__nationality{
    text-align: center;
}

.model__flags {
    text-align: center;
    font-size: 0.5rem;
}