<div class="backdrop"></div>
<header class="main-header">
	<form action="/filtered-index" method="GET">
		<label class="filter-label" for="search_term">Name</label>
		<input type="text" name="search_term" id="search_term">
		<button class="btn" type="submit" value="accept">Filter</button>
	</form>
</header>

